<head>
  <!-- Basic meta tags and core CSS -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

  <!-- KaTeX for math rendering -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      renderMathInElement(document.body, {
        delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '$', right: '$', display: false},
          {left: '\\(', right: '\\)', display: false},
          {left: '\\[', right: '\\]', display: true}
        ],
        throwOnError: false
      });
    });
  </script>

  <!-- Fonts and SEO -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  
  <!-- jQuery and BibTeX parsing -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{{ "/assets/js/parse-bibtex.js" | prepend: site.baseurl }}"></script>
  
  <!-- ThebeLab Dependencies -->
  <link rel="stylesheet" href="https://unpkg.com/thebe@latest/lib/index.css" />
  <script src="https://unpkg.com/thebe@latest/lib/index.js"></script>
  <script src="{{ "/assets/js/thebe-config.js" | prepend: site.baseurl }}"></script>
    
  <!-- Main site JavaScript -->
  <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
</head>
